In [1]:
l = [1,2,3,4,5,6,7,8,9,10,12,13,14,15]

In [2]:
even_sum = 0
odd_sum = 0
for i in l:
  if i%2 == 0:
    even_sum = even_sum + i
  else:
    odd_sum = odd_sum + i
print(even_sum, odd_sum)

56 53

In [3]:
def add_num(num1, num2):
  return num1 + num2

add_num(2, 6)

8

In [11]:
def add_list(lst):
    sum1 =0
    for i in lst:
        #print(i)
        sum1=sum1+int(i)
    return sum1

In [12]:
add_list([1,2,3,4,5,6])

21

In [34]:
input_num = list(input("Enter the list"))

Enter the list6789

In [36]:
input_num

['6', '7', '8', '9']

In [40]:
add_list(input_num)

30

In [41]:
def even_or_odd(num):
  if num%2 == 0:
    return "The {} is Even".format(num)
  else:
    return "The {} is Odd".format(num)

In [43]:
even_or_odd(25)

'The 25 is Odd'

In [44]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 24, 56, 78]

In [45]:
map(even_or_odd, lst)

In [46]:
list(map(even_or_odd, lst))

['The 1 is Odd',
 'The 2 is Even',
 'The 3 is Odd',
 'The 4 is Even',
 'The 5 is Odd',
 'The 6 is Even',
 'The 7 is Odd',
 'The 8 is Even',
 'The 9 is Odd',
 'The 24 is Even',
 'The 56 is Even',
 'The 78 is Even']

In [51]:
tupl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 24, 56, 78)

In [52]:
map(even_or_odd, tupl)

In [60]:
list(map(even_or_odd, tupl))

['The 1 is Odd',
 'The 2 is Even',
 'The 3 is Odd',
 'The 4 is Even',
 'The 5 is Odd',
 'The 6 is Even',
 'The 7 is Odd',
 'The 8 is Even',
 'The 9 is Odd',
 'The 24 is Even',
 'The 56 is Even',
 'The 78 is Even']

In [61]:
def addition(a, b):
  return a + b

In [62]:
addition(4, 8)

12

In [65]:
add = lambda a, b: a + b

In [66]:
add(5, 8)

13

In [67]:
def even(num):
  if num%2 == 0:
    return True

In [68]:
e = lambda num: num%2==0

In [69]:
e(3)

False

In [76]:
s = lambda x, y, z: (x + y)**z

In [77]:
s(2, 2, 3)

64

In [87]:
def odd(num):
  if num%2 != 0:
    return True

In [88]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [90]:
list(filter(odd, lst))

[1, 3, 5, 7, 9]

In [92]:
list(filter(lambda num: num%2!=0, lst))

[1, 3, 5, 7, 9]

In [93]:
list(map(lambda num: num%2!=0, lst))

[True, False, True, False, True, False, True, False, True, False]

In [94]:
import numpy as np
lst1 = []
def lst_sqrt(lst):
  for i in lst:
    lst1.append(np.sqrt(i)) 
  return lst1

In [95]:
lst_sqrt([1, 4, 9, 16, 25, 36, 49])

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [99]:
lst = [1, 4, 9, 16, 25, 36, 49]
[np.sqrt(i) for i in lst]

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [100]:
 [np.sqrt(i) for i in lst if i%2 != 0]

[1.0, 3.0, 5.0, 7.0]